.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
docs/**
.gitignore
pnpm-lock.yaml
pnpm-workspace.yaml
NOTE.md
*.vsix
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
